<!--<div class="container">-->
<hr>
  <div class="row">
    <div class="col-md-6">
      <dl class="dl-horizontal">
        <dt>Model:</dt>
        <% if !(@copier.name.nil?) %>
          <dd><%= @copier.name %></dd>
        <% else %>
          <dd><%= @copier.supported_name %></dd>
        <% end %>
          
        
        <dt>Manufacturer: </dt>
        <dd><%= @copier.oem %></dd>
        
        <dt>Marketer: </dt>
        <dd><%= @copier.marketer %></dd>
      </dl>
    </div>
    <div class="col-md-6">
      <dl class="dl-horizontal">
        <dt>Also sold as: </dt>
        <dd><%= @copier.aka %></dd>
        
        <dt>Introduction date: </dt>
        <dd><%= @copier.intro_date %></dd>
        
        <dt>Discontinued date: </dt>
        <dd><%= @copier.disc_date %></dd>
      </dl>
    </div>
  </div>
  
  <!-- break -->
  <hr>
  
  <div class="row">
    <div class="col-md-12">
      <dl class="dl-horizontal">
        <dt>General notes: </dt>
        <dd><%= @copier.general_notes %></dd>
      </dl>
    </div>
  </div>
  
  <!-- break -->
  <hr>
  
  <div class="row">
    <div class="col-md-6">
      <dl class="dl-horizontal">
        <dt>Supports Papercut embeded appplication: </dt>
        <dd><%= @copier.supported_status %></dd>
      </dl>
    </div>
    <div class="col-md-6">
      <dl class="dl-horizontal">
        <dt>Embedded Platform: </dt>
        <dd><%= @copier.embedded_platform %></dd>
      </dl>
    </div>
  </div>
  
  
  <!-- break -->
  <hr>
  
  <div class="row">
    <div class="col-md-12">
      <dl class="dl-horizontal">
        <dt>Card reader support: </dt>
        <dd><%= @copier.card_reader_support %></dd>
      </dl>
    </div>
  </div>
  
  <hr>
    
  <div class="row">
    <div class="col-md-6">
      <dl class="dl-horizontal">
        <dt>ACDI connector harness (option 1): </dt>
        <dd><%= @copier.acdi_vending_harness_01 %></dd>
    
        <dt>OEM connecting harness (option 1): </dt>
        <dd><%= @copier.oem_vending_harness_02 %></dd>
      </dl>
    </div>
    
    <div class="col-md-6">
      <dl class="dl-horizontal">
        <dt>Vending harness connector details: </dt>
        <dd><%= @copier.pcb_details_01 %></dd>
      </dl>
    </div>
    
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-md-6">
      <dl class="dl-horizontal">
        <dt>ACDI connector harness (option 2): </dt>
        <dd><%= @copier.acdi_vending_harness_02 %></dd>
    
        <dt>OEM connecting harness (option 2): </dt>
        <dd><%= @copier.oem_vending_harness_02 %></dd>
      </dl>
    </div>
    
    <div class="col-md-6">
      <dl class="dl-horizontal">
        <dt>Connector detils (option 2): </dt>
        <dd><%= @copier.pcb_details_02 %></dd>
      </dl>
    </div>
    
  </div>
  
  
  
<!--</div>-->