<%= form_for @copier do |f| %>

  
  <div class="form-group">
    <p>
      <%= f.label :model %>
      <%= f.text_field :name, placeholder: "Copier Name", class: "form-control" %>
    </p>
  </div>
  
  <div class="form-group">
    <p>
      <%= f.label :manufacturer %>
      <%= f.collection_select :oem, Oem.all, :name, :name, prompt: true %>
    </p>
  </div>
  
  <div class="form-group">
    <p>
      <%= f.label :marketer %>
      <%= f.collection_select :marketer, Oem.all, :name, :name, prompt: true %>
    </p>
  </div>

  <!------------------- supported section --------------------->  
  
  <div class="form-group">
    <div class="field">
      <p>
        <%= f.label :supported_status %>
        <%= f.select :supported_status, options_for_select(["Supported", "Not Supported", "Unknown"]), prompt: true %>
      </p>
    </div>
    <div class="field">
      <%= f.label :supported_notes %>
      <%= f.text_field :supported_notes_01, placeholder: "Notes on supported status", class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :additional_supported_notes %>
      <%= f.text_field :supported_notes_02, placeholder: "Notes on supported status (additional)", class: "form-control" %>
    </div>
  </div>
  
  <hr>
  <!---------------- general notes and aka ----------------->
  
    <div class="form-group">
    <div class="field">
      <%= f.label :general_notes %>
      <%= f.text_field :general_notes, placeholder: "General notes", class: "form-control" %>
    </diV>
  </div>
  
  
  <div class="form-group">
    <div class="field">
      <%= f.label :also_know_as %>
      <%= f.text_field :aka, placeholder: "Also sold as", class: "form-control" %>
    </div>
  </div>
  
  
  <hr>
  <!--------------- harness group 1 ---------------->
  
  <div class="form-group">
    <div class="field">
      <p>
        <%= f.label :acdi_vending_harness %>
        <%= f.select :acdi_vending_harness_01, options_for_select(["Option 1", "Option 2"]), prompt: true %>
      </p>
    </div>
    
    <div class="field">
      <p>
        <%= f.label :oem_vending_harness %>
        <%= f.select :oem_vending_harness_01, options_for_select(["Option 1", "Option 2"]), prompt: true %>
      </p>
    </div>
    
    <div class="field">
      <%= f.label :connector_details %>
      <%= f.text_field :pcb_details_01, placeholder: "Details for connector", class: "form-control" %>
    </div>
  </div>
  
  <hr>
  <!--------------- harness group 2 ---------------->
  
  <div class="form-group">
    <div class="field">
      <p>
        <%= f.label :secondary_acdi_vending_harness %>
        <%= f.select :acdi_vending_harness_02, options_for_select(["Option 1", "Option 2"]), prompt: true %>
      </p>
    </div>
    
    <div class="field">
      <p>
        <%= f.label :secondary_oem_vending_harness %>
        <%= f.select :oem_vending_harness_02, options_for_select(["Option 1", "Option 2"]), prompt: true %>
      </p>
    </div>
    
    <div class="field">
      <%= f.label :secondary_connector_details %>
      <%= f.text_field :pcb_details_02, placeholder: "Details for connector", class: "form-control" %>
    </div>
  </div>


  <hr>
  
  <!------------------------ extra details ------------------------>
  
  <div class="form-group">
    <div class="field">
      <p>
        <%= f.label :introduction_date %>
        <%= f.datetime_select :intro_date, prompt: true, discard_hour: true %>
      </p>
    </div>
    <div class="field">
      <p>
        <%= f.label :discontinued_date %>
        <%= f.datetime_select :disc_date, prompt: true, discard_hour: true %>
      </p>
    </div>
  </div>
  
  <hr>
  
  <div class="form-group">
    <div class="field">
      <p>
        <%= f.label :supports_printing %>
        <%= f.check_box :print %>
      </p>
    </div>
    <div class="field">
      <p>
        <%= f.label :supports_copying %>
        <%= f.check_box :copy %>
      </p>
    </div>
    <div class="field">
      <p>
        <%= f.label :supports_scan %>
        <%= f.check_box :scan %>
      </p>
    </div>
    <div class="field">
      <p>
        <%= f.label :supports_fax %>
        <%= f.check_box :fax %>
      </p>
    </div>
  </div>
  
  <div class="form-group">
    <div class="field">
      <%= f.label :card_reader_support %>
      <%= f.text_field :card_reader_support, placeholder: "Card reader support", class: "form-control" %>
    </div>
  </div>
  
  
  <div class="form-group">
    <div class="field">
      <%= f.label :embedded_platform %>
      <%= f.text_field :embedded_platform, placeholder: "Embedded platform", class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
  
<% end %>