<%= form_for @copier do |f| %>

  <div class="form-group">
    <%= f.text_field :name, placeholder: "Copier Name", class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :manufacturer %>
    <%= f.collection_select :oem, Oem.all, :name, :name, prompt: true %>
  </div>
  
  <div class="form-group">
    <%= f.label :marketer %>
    <%= f.collection_select :marketer, Oem.all, :name, :name, prompt: true %>
  </div>
  
  <p></p>
  
  
  <div class="form-group">
    <div class="field">
      <%= f.label :supports_papercut_embed %>
      <%= f.check_box :pc_embedded %>
    </div>
    <div class="field">
      <%= f.text_field :embedded_platform, placeholder: "Embedded Platform", class: "form-control" %>
    </div>
  </div>
  
  <p></p>
  
  <div class="form-group">
    <div class="field">
      <%= f.label :supports_papercut_integrated_scanning %>
      <%= f.check_box :pc_int_scanning %>
    </div>
  </div>
  
  <p></p>
  
  <div class="form-group">
    <div class="field">
      <%= f.label :papercut_dependencies %>
      <%= f.check_box :pc_dependency %>
    </div>
    <div class="field">
      <%= f.text_field :pc_dependency_detail, placeholder: "Dependency details", class: "form-control" %>
    </div>
  </div>
  
  <p></p>
  
  <div class="form-group">
    <div class="field">
      <%= f.text_field :general_notes, placeholder: "General notes", class: "form-control" %>
    </diV>
  </div>
  
  <p></p>
  
  <div class="form-group">
    <div class="field">
      <%= f.text_field :aka, placeholder: "Also sold as", class: "form-control" %>
    </div>
  </div>
  
  <p></p>
  
  <div class="form-group">
    <div class="field">
      <%= f.label :introduction_date %>
      <%= f.datetime_select :intro_date %>
    </div>
    <div class="field">
      <%= f.label :discontinued_date %>
      <%= f.datetime_select :disc_date %>
    </div>
  </div>
  
  <p></p>
  
  <div class="form-group">
    <div class="field">
      <%= f.label :supports_printing %>
      <%= f.check_box :print %>
    </div>
    <div class="field">
      <%= f.label :supports_copying %>
      <%= f.check_box :copy %>
    </div>
    <div class="field">
      <%= f.label :supports_scanning %>
      <%= f.check_box :scan %>
    </div>
    <div class="field">
      <%= f.label :supports_faxing %>
      <%= f.check_box :fax %>
    </div>
  </div>
  
  <h3>Cards and Hardware</h3>
  
  <div class="form-group">
    <div class="field">
      <%= f.label :card_reader_support %>
      <%= f.check_box :card_reader_support %>
    </div>
    <div class="field">
      <%= f.label :vending_connector %>
      <%= f.check_box :vending_connector %>
    </div>
    
    <div class="field">
      <%= f.label :vending_connector_manufacturer %>
      <%= f.select :vending_connector_oem, options_for_select(["vc_oem_1", "vc_oem_2"]), prompt: true  %>
    </div>
    <div class="field">
      <%= f.label :vending_connector_ex %>
      <%= f.select :vending_connector_ex, options_for_select(["vc_ex_1", "vc_ex_2"]), prompt: true %>
    </div>
    <div class="field">
      <%= f.label :vending_connector_cpad %>
      <%= f.select :vending_connector_cpad, options_for_select(["vc_cpad_1", "vc_cpad_2"]), prompt: true %>
    </div>
    <div class="field">
      <%= f.label :card_reader_mode %>
      <%= f.select :card_reader_mode, options_for_select(["card_reader_mode_1", "card_reader_mode_2"]), prompt: true %>
    </div>
    <div class="field">
      <%= f.label :card_reader_type %>
      <%= f.select :card_reader_types, options_for_select(["card_reader_type_1", "card_reader_type_2"]), prompt: true %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
  
<% end %>