<div class="container" id="search-intro-container">
  <div class="col-md-6 col-md-offset-3">
    <h3>Compatibility Lookup</h3>
    Copier lookup tool. Search by model number and manufacturer.
  </div>
</div>

<%= render 'shared/search_two' %>

<!-- change table headers -->

<% if @copier %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Model</th>
      <th>Manufacturer</th>
      <th>Marketer</th>
      <th>Supports Papercut</th>
    </tr>
  </thead>
  <tbody>
    <%= div_for @copier do |f| %>
    <tr data-link="<%= copier_path(f) %>">
      <% if !(f.name.nil?) %>
        <td><%= f.name %></td>
      <% elsif !(f.name_details.nil?) %>
        <td><%= f.name_details %></td>
      <% else %>
        <td><%= f.supported_name %></td>
      <% end %>
      <td><%= f.oem %></td>
      <td><%= f.marketer %></td>
      <td><%= f.supported_status %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= will_paginate @copier %>
  </div>
</div>

<% else %>

<p>No results...</p>

<% end %>





