<div class="container">
  <h1>Copier details</h1>




  <% if admin_logged_in? %>
    <%= link_to "Delete", copier_path, method: :delete %>
    <p></p>
    <%= link_to "Edit", edit_copier_path %>
    <p></p>
    <%= link_to "PDF", {:format => :pdf }, target: :_blank %>
  <% end %>
  </div>

  <p></p>

<div class="container">
  
  <dl class="dl-horizontal">
    <dt>Model:             </dt>
    <dd><%= @copier.name %></dd>
  
    <dt>Manufacturer: </dt>
    <dd><%= @copier.oem %></dd>
  
    <dt>Marketer: </dt>
    <dd><%= @copier.marketer %></dd>
  
    <dt>Supports Papercut embeded appplication: </dt>
    <dd><%= @copier.pc_embedded %></dd>
  
    <dt>Embedded Platform: </dt>
    <dd><%= @copier.embedded_platform %></dd>
  
    <dt>Supports papercut integrated scanning: </dt>
    <dd><%= @copier.pc_int_scanning %></dd>
  
    <dt>Dependencies for papercut: </dt>
    <dd><%= @copier.pc_dependency %></dd>
  
    <dt>Dependency details: </dt>
    <dd><%= @copier.pc_dependency_detail %></dd>
  
    <dt>General notes: </dt>
    <dd><%= @copier.general_notes %></dd>
  
    <dt>Also sold as: </dt>
    <dd><%= @copier.aka %></dd>
  
    <dt>Introduction date: </dt>
    <dd><%= @copier.intro_date.to_s %></dd>
  
    <dt>Discontinued date: </dt>
    <dd><%= @copier.disc_date.to_s %></dd>
  
    <dt>Supports Printing: </dt>
    <dd><%= @copier.print %></dd>
  
    <dt>Supports Copying: </dt>
    <dd><%= @copier.copy %></dd>
  
    <dt>Supports Scanning: </dt>
    <dd><%= @copier.scan %></dd>
  
    <dt>Supports Faxing: </dt>
    <dd><%= @copier.fax %></dd>
    
    <dt>Card reader support: </dt>
    <dd><%= @copier.card_reader_support %></dd>
    
    <dt>Vending connector support: </dt>
    <dd><%= @copier.vending_connector %></dd>
    
    <dt>Vending connector manufacturer: </dt>
    <dd><%= @copier.vending_connector_oem %></dd>
    
    <dt>Vending connector ex: </dt>
    <dd><%= @copier.vending_connector_ex %></dd>
    
    <dt>Vending connector cpad: </dt>
    <dd><%= @copier.vending_connector_cpad %></dd>
    
    <dt>Card reader mode: </dt>
    <dd><%= @copier.card_reader_mode %></dd>
    
    <dt>Card reader mode: </dt>
    <dd><%= @copier.card_reader_types %></dd>
    
  </dl>
</div>



