<form>
  <div class="form-group">
    <label for="search_copier">Copier Search</label>
      <%= form_for :copier_search, html: { class: "form-inline", id: "search_copier" } do |f| %>
        <div class="row">
          <div class="col-sm-10">
            <%= f.search_field :text_search, placeholder: "Search...", class: "form-control" %>
          </div>
          <div class="col-sm-2">
            <%= f.submit "Submit", class: "btn" %>
          </div>
        </div>
        <div class="search_filters">
      
          <div class="field">
            <div class="col-sm-6">
              <%= f.label :supports_papercut_embedded_application %>
              <%= f.check_box :pc_embedded, include_hidden: false %>
            </div>
            <div class="col-sm-6">
              <%= f.label :manufacturer %>
              <%= f.collection_select :oem, Oem.all, :name, :name, include_blank: "Select" %>
            </div>
        </div>
      <% end %>
    </div>
  </div>
  <button class="hidden_search">Filters</button>
</form>
