<div class="container">
<table class="table table-hover" id="matrix-table">
  <thead>
    <tr>
      <th>Features</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Integrated Scanning: </div></h5><p class="popup">Provides a consistent and easy way for users to scan documents to
              configurable email and folder destinations and charge the job to an
              account.</p></td>
      <td><%= @matrix.integrated_scanning %></td>
    </tr>
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Supported Card Readers: </div></h5><p class="popup">Many organizations already have existing card systems on-site ranging
                from magstripe through to RFID and Proximity. Where possible a choice of
                card reader should be offered so you can leverage existing cards for offthe-glass
                copying authentication</p></td>
      <td><%= @matrix.supported_card_readers %></td>
    </tr>
    
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover"><div class="matrix-detail-hover">Supported related brands (re-label & OEM): </div></h5><p class="popup">The embedded solution has been confirmed to work on the following relabeled
                  or OEM devices</p></td>
      <td><%= @matrix.supported_related_brands %></td>
    </tr>
    
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover"><div class="matrix-detail-hover">Solution type: </div></h5><p class="popup">Details on the type of integration method used by the solution:
            Embedded: Code running on the device at firmware level.
            Onboard: Code interacting with the device via web services.
            Middleware: Code interacting with the device via middleware</p></td>
      <td><%= @matrix.solution_type %></td>
    </tr>
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover"><div class="matrix-detail-hover">Zero Stop: </div></h5><p class="popup">Where possible, PaperCut MF will make use of a copier’s ability to stop jobs
                while in progress when a user runs out of credit, reducing cost overruns.</p></td>
      <td><%= @matrix.zero_stop %></td>
    </tr>



    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover"><div class="matrix-detail-hover">Restrict color copying: </div></h5><p class="popup">In many organizations it is desirable to limit users or groups of users to
                monochrome copying only.</p></td>
      <td><%= @matrix.restrict_color_copying %></td>
    </tr>
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover"><div class="matrix-detail-hover">Enforced login workflow (e.g. account selection): </div></h5><p class="popup">PaperCut MF can bring the common printing workflows to off-the-glass
                copying, allowing costs to be associated with departmental accounts rather
                than just a user.</p></td>
      <td><%= @matrix.enforced_login_workflow %></td>
    </tr>
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover"><div class="matrix-detail-hover">Shared account selection from list: </div></h5><p class="popup">Many organizations use named shared accounts. Where possible devices
                should offer the ability to select accounts from a visible list bypassing the
                need to use account codes.</p></td>
      <td><%= @matrix.shared_account_selection_list %></td>
    </tr>
    
    
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover"><div class="matrix-detail-hover">Shared account keyword search: </div></h5><p class="popup">Expanding on the shared account selection from a list, the ideal interface
                should allow users to search accounts by keywords. This makes handling of
                10,000 matters/projects easy</p></td>
      <td><%= @matrix.shared_account_keyword_search %></td>
    </tr>
    
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover"><div class="matrix-detail-hover">Shared account selection by code/PIN: </div></h5><p class="popup">Selecting an account from a list or by search is preferred by most users,
                however some devices have constrained interfaces and selecting a code
                (e.g. numeric number) may be more convenient.</p></td>
      <td><%= @matrix.shared_account_selection_code %></td>
    </tr>
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover"><div class="matrix-detail-hover">Shared account invoicing/comments options: </div></h5><p class="popup">Provide functionality to invoice jobs and add comments.</p></td>
      <td><%= @matrix.shared_account_invoicing %></td>
    </tr>



    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover"><div class="matrix-detail-hover">Customizable logos / colors: </div></h5><p class="popup">If an organization already has a corporate style or branding in place, why
                not go the extra step and implement this on their copier login screens?</p></td>
      <td><%= @matrix.customizable_logos %></td>
    </tr>
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover"><div class="matrix-detail-hover">Track faxing: </div></h5><p class="popup">Many devices include functionality for sending faxes. Organizations may
                want to account for these events and where possible PaperCut MF will
                allow for tracking of these to the user</p></td>
      <td><%= @matrix.track_faxing %></td>
    </tr>
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover"><div class="matrix-detail-hover">Track USB printing: </div></h5><p class="popup">Newer devices are now giving users the ability to print resources stored on
                removable media such as USB drives. Where available PaperCut MF will
                allow for tracking of these print jobs to the user.</p></td>
      <td><%= @matrix.track_usb_printing %></td>
    </tr>
    
    
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Track scanning (e.g. to email or USB memory stick): </div></h5><p class="popup">With many organizations implementing green practices it is becoming more
                common for users to scan a document to an electronic format rather than
                make another paper copy. Where possible PaperCut MF can track these
                scans to the user</p></td>
      <td><%= @matrix.track_scanning %></td>
    </tr>
    
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Auto-populate email when Scanning (From address) : </div></h5><p class="popup">No additional explanation...</p></td>
      <td><%= @matrix.auto_populate_email_scanning_from %></td>
    </tr>
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Auto-populate email when Scanning (To address): </div></h5><p class="popup">No additional explanation...</p></td>
      <td><%= @matrix.auto_populate_email_scanning_to %></td>
    </tr>



    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Fine grained system access control: </div></h5><p class="popup">Multi-function devices often have the capability of faxing and scanning.
                Organizations may want to allow free faxing and scanning. In this case the
                device can often be configured to allow access to functions without login. </p></td>
      <td><%= @matrix.fine_system_access_control %></td>
    </tr>
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Secure Print Release / Find Me Printing: </div></h5><p class="popup">After a user authenticates at a device, they should be able to release jobs
                from a hold/release queue or a virtual/”global” Find Me Printing queue.</p></td>
      <td><%= @matrix.secure_print_release %></td>
    </tr>
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Release all jobs on login: </div></h5><p class="popup">Shortcutting the process of selecting jobs held in the release queue by
                automatically releasing all print jobs on login/authentication.</p></td>
      <td><%= @matrix.release_jobs_on_login %></td>
    </tr>
    
    
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Release jobs selected from a list: </div></h5><p class="popup">Displays a list of jobs that can be individually printed or cancelled. </p></td>
      <td><%= @matrix.release_jobs_from_list %></td>
    </tr>
    
    

    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Block jobs being released to a printer reporting an error: </div></h5><p class="popup">Prevent users from releasing jobs on devices reporting an error.</p></td>
      <td><%= @matrix.block_jobs_printer_error %></td>
    </tr>
    
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">User authentication at device options: </div></h5><p class="popup">Ideal solutions may be configured to offer users a choice of authentication
                options (e.g. if the user has left their card at home they can fall back to
                username and password login).</p></td>
      <td><%= @matrix.user_auth_at_device %></td>
    </tr>
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Username and password authentication: </div></h5><p class="popup">No additional explanation...</p></td>
      <td><%= @matrix.username_and_password_auth %></td>
    </tr>
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Id-only authentication: </div></h5><p class="popup">No additional explanation...</p></td>
      <td><%= @matrix.id_only_auth %></td>
    </tr>
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Id + PIN authentication: </div></h5><p class="popup">No additional explanation...</p></td>
      <td><%= @matrix.id_pin_auth %></td>
    </tr>
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Card-only authentication: </div></h5><p class="popup">No additional explanation...</p></td>
      <td><%= @matrix.card_only_auth %></td>
    </tr>
    
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Card + PIN authentication: </div></h5><p class="popup">No additional explanation...</p></td>
      <td><%= @matrix.card_pin_auth %></td>
    </tr>
    
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Self-association of cards with existing user accounts: </div></h5><p class="popup">No additional explanation...</p></td>
      <td><%= @matrix.self_association_cards %></td>
    </tr>
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Define or set PIN on first use/login: </div></h5><p class="popup">No additional explanation...</p></td>
      <td><%= @matrix.set_pin_first_login %></td>
    </tr>
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Single Sign-On (SSO): </div></h5><p class="popup">Once a user is authenticated, SSO allows other MFP applications to re-use
                the user information (e.g. name, email, etc.). Applications may include 3rd
                party scanning solutions or built-in MFP features. Support depends on the
                platform and application. Options include:
                Platform: Applications may access user info using SSO features of the MFP
                platform.
                PaperCut: No platform SSO exists. Applications may use PaperCut Device
                REST APIs to access the logged-in user details</p></td>
      <td><%= @matrix.single_sign_on %></td>
    </tr>
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Swipe to log out: </div></h5><p class="popup">Allows users to use their swipe cards to log out of the device.</p></td>
      <td><%= @matrix.swipe_log_out %></td>
    </tr>
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Offline mode: </div></h5><p class="popup">Enables the device to continue to be used when the PaperCut server is
                unavailable. Options include:
                Platform: Offline access is provided by the device platform. Offline activity
                is not tracked.
                PaperCut: Offline access is provided by the application. Offline activity is
                tracked.
                N/A: Offline access is not available.</p></td>
      <td><%= @matrix.offline_mode %></td>
    </tr>
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Extra Licensing Requirements: </div></h5><p class="popup">Additional license/module may be required from the MFP vendor. Contact
                vendor for pricing is applicable.</p></td>
      <td><%= @matrix.extra_license_requirements %></td>
    </tr>
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Assisted setup: </div></h5><p class="popup">Some devices may require installation assistance from trained/certified
                copier technician (e.g. service code setting changes)</p></td>
      <td><%= @matrix.assisted_setup %></td>
    </tr>
    
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Security rating (out of 5): </div></h5><p class="popup">Devices that do not follow best practice security and/or have known
                security issues such as lost data on power failure score low here. E.g. scores
                lower than 4 may not be appropriate for secure student environments.
                Scores based on security reviews.</p></td>
      <td><%= @matrix.security_rating %></td>
    </tr>
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Install Time (minutes): </div></h5><p class="popup">Expected install and post install testing time for a technician experienced
                with both PaperCut and copier/hardware platform</p></td>
      <td><%= @matrix.install_time %></td>
    </tr>
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Supported server operating systems: </div></h5><p class="popup">PaperCut is full a cross-platform product and aims to support all
                hardware/software options in any combination. This lists the server OS’s
                that are compatible with the solution</p></td>
      <td><%= @matrix.supported_server_os %></td>
    </tr>
    
    
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">All character sets supported: </div></h5><p class="popup">Determines whether device can support non-English/Latin characters. E.g.
                Chinese, Japanese, Korean, etc.</p></td>
      <td><%= @matrix.character_sets_supported %></td>
    </tr>
    
    <tr>
      <td class="matrix-table-cell"><h5><div class="matrix-detail-hover">Allow guest/anonymous access: </div></h5><p class="popup">Authentication options can be configured together with the
                guest/anonymous access option so that copying is tracked against the
                anonymous user account.</p></td>
      <td><%= @matrix.guest_access %></td>
    </tr>

  </tbody>
</table>
</div>