<%= form_for @request do |f| %>
  <div class="form-group">
    <%= f.label :model, raw("Friend&rsquo;s email address") %>
    <%= f.text_field :req_name, placeholder: "Model or name of the copier", class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :name %>*
    <%= f.text_field :user_name, placeholder: "Requester's name", class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :email %>*
    <%= f.email_field :user_phone, placeholder: "Email", class: "form-control" %>
  </div>
  
  
  <div class="form-group">
    <p>
      <%= f.label :manufacturer %>*
      <%= f.collection_select :req_oem, Oem.all, :name, :name, prompt: true  %>
    </p>
  </div>
  
  <div class="form-group">
    <p>
      <%= f.label :marketer %>
      <%= f.collection_select :req_marketer, Oem.all, :name, :name, prompt: true %>
    </p>
  </div>
  
  <div class="form-group">
    <p>
      <%= f.label :supported_status %>
      <%= f.select :req_supported_status, options_for_select(["Supported", "Not Supported", "Not available"]), prompt: true %>
    </p>
  </div>
  <p></p>
  
  <div class="copier_details">
  
   <div class="form-group">
    <div class="field">
      <%= f.label :supported_notes %>
      <%= f.text_field :req_supported_notes_01, placeholder: "Notes on supported status", class: "form-control" %>
    </div>
      
    <div class="field">
      <%= f.label :embedded_platform_details %>
      <%= f.text_field :req_embedded_platform, placeholder: "Embedded platform", class: "form-control" %>
    </div>
  
  </div>
  
  <p></p>
  
  <div class="form-group">
    <div class="field">
      <%= f.label :acdi_vending_harness %>
      <%= f.collection_select :req_acdi_vending_harness_01, Oem.all, :name, :name, prompt: true %>
    </div>
    
    <div class="field">
      <%= f.label :oem_vending_harness %>
      <%= f.collection_select :req_oem_vending_harness_01, Oem.all, :name, :name, prompt: true %>
    </div>
    
    <div class="field">
      <%= f.label :connector_details %>
      <%= f.text_field :req_pcb_details_01, placeholder: "Details for connector", class: "form-control" %>
    </div>
  </div>
  
  <p></p>
  
  <div class="form-group">
    <div class="field">
      <%= f.label :acdi_vending_harness %>
      <%= f.collection_select :req_acdi_vending_harness_02, Oem.all, :name, :name, prompt: true %>
    </div>
    
    <div class="field">
      <%= f.label :oem_vending_harness %>
      <%= f.collection_select :req_oem_vending_harness_02, Oem.all, :name, :name, prompt: true %>
    </div>
    
    <div class="field">
      <%= f.label :connector_details %>
      <%= f.text_field :req_pcb_details_02, placeholder: "Details for connector", class: "form-control" %>
    </div>
  </div>
  
  <p></p>
  
  <div class="form-group">
    <div class="field">
      <%= f.label :general_notes %>
      <%= f.text_field :req_general_notes, placeholder: "General notes", class: "form-control" %>
    </div>
  </div>
  
  <p></p>
  
  <div class="form-group">
    <div class="field">
      <%= f.label :also_sold_as %>
      <%= f.text_field :req_aka, placeholder: "Also sold as", class: "form-control" %>
    </div>
  </div>
  
  <p></p>
  
  <div class="form-group">
    <div class="field">
      <%= f.label :introduction_date %>
      <%= f.datetime_select :req_intro_date, prompt: true, discard_hour: true %>
    </div>
    <div class="field">
      <%= f.label :discontinued_date %>
      <%= f.datetime_select :req_disc_date, prompt: true, discard_hour: true %>
    </div>
  </div>
  
  <p></p>
  
  <div class="form-group">
    <div class="field">
      <%= f.label :supports_printing %>
      <%= f.check_box :req_print %>
    </div>
    <div class="field">
      <%= f.label :supports_copying %>
      <%= f.check_box :req_copy %>
    </div>
    <div class="field">
      <%= f.label :supports_scanning %>
      <%= f.check_box :req_scan %>
    </div>
    <div class="field">
      <%= f.label :supports_faxing %>
      <%= f.check_box :req_fax %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="field">
      <%= f.label :card_reader_details %>
      <%= f.text_field :req_card_reader_support, placeholder: "Card reader support", class: "form-control" %>
    </div>
  </div>
  
  
  <div class="hidden_id_field">
    <div class="field">
      <%= f.text_field :copr_id %>
    </div>
  </div>
  
  </div>
  
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
    <!--<div class="col-md-10">-->
    <!--  <div class="form-group">-->
    <!--    <button class="btn" id="hidden_details">Show details</button>-->
    <!--  </div>-->
    <!--</div>-->
  </div>
  
  
<% end %>

<button class="btn" id="hidden_details">Show details</button>


<div class="container" style="padding: 20px;">
  <div class="row">
    <div class="field">
      <p>*Starred fields are required</p>
    </div>
  </div>
</div>