<!-- correct for new fields -->
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Manufacturer</th>
      <th>Marketer</th>
      <th>Supports Papercut</th>
    </tr>
  </thead>
  <tbody>
    <%= div_for @requests do |f| %>
    <tr data-link="<%= copier_request_path(f) %>">
      <td><%= f.req_name %></td>
      <td><%= f.req_oem %></td>
      <td><%= f.req_marketer %></td>
      <td><%= f.req_supported_status %></td>
    </tr>
    <% end %>
  </tbody>
</table>