<div class="container">
  <h3>Request details</h3>
  
  <%= link_to "Edit", edit_copier_request_path %>
  <p></p>
  
  <%= link_to "Delete", copier_request_path, :method => :delete %>
  <p></p>
  
  <%= link_to "Approve", copier_request_path, :method => :accept %>
</div>

<p></p>

<div class="container">
  <dl class="dl-horizontal">
    <dt>Requester: </dt>
    <dd><%= @request.user_name %></dd>
    
    <dt>Phone number: </dt>
    <dd><%= @request.user_phone %></dd>
    
    <dt>Model: </dt>
    <dd><%= @request.req_name %></dd>
  
    <dt>Manufacturer: </dt>
    <dd><%= @request.req_oem %></dd>
  
    <dt>Marketer: </dt>
    <dd><%= @request.req_marketer %></dd>
    
    <dt>Supports Papercut embeded appplication: </dt>
    <dd><%= @request.req_supported_status %></dd>
  
    <dt>Embedded Platform: </dt>
    <dd><%= @request.req_embedded_platform %></dd>
    
    <dt>General Notes: </dt>
    <dd><%= @request.req_general_notes %></dd>
  
    <dt>General notes: </dt>
    <dd><%= @request.req_general_notes %></dd>
  
    <dt>Also sold as: </dt>
    <dd><%= @request.req_aka %></dd>
  
    <dt>Introduction date: </dt>
    <dd><%= @request.req_intro_date.to_s %></dd>
  
    <dt>Discontinued date: </dt>
    <dd><%= @request.req_disc_date.to_s %></dd>
    
    <dt>Card reader support: </dt>
    <dd><%= @request.req_card_reader_support %></dd>
    
    <dt>ACDI connector harness (option 1): </dt>
    <dd><%= @request.req_acdi_vending_harness_01 %></dd>
    
    <dt>OEM connecting harness (option 1): </dt>
    <dd><%= @request.req_oem_vending_harness_02 %></dd>
    
    <dt>Connector detils (option 1): </dt>
    <dd><%= @request.req_pcb_details_01 %></dd>
    
    
    <dt>ACDI connector harness (option 2): </dt>
    <dd><%= @request.req_acdi_vending_harness_02 %></dd>
    
    <dt>OEM connecting harness (option 2): </dt>
    <dd><%= @request.req_oem_vending_harness_02 %></dd>
    
    <dt>Connector detils (option 2): </dt>
    <dd><%= @request.req_pcb_details_02 %></dd>
    
    <dt>Card Reader Support: </dt>
    <dd><%= @request.req_card_reader_support %></dd>
    
    <dt>Supported Status: </dt>
    <dd><%= @request.req_supported_status %></dd>
    
    <dt>Supported Notes: </dt>
    <dd><%= @request.req_supported_notes_01 %></dd>
    
    <dt>Supported Notes (additional): </dt>
    <dd><%= @request.req_supported_notes_02 %></dd>  
    
  </dl>
</div>

