<!DOCTYPE html>
<html>
  <head>
    <title>Lookup</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container" id="top-container">
      <%= render 'shared/navbar2' %>
      </div>
    <div class="container" id="bottom-container">
      <%= yield %>
    </div>
    <div class="container" id="footer-container">
      <%= render 'shared/footer' %>
    </div>

    
  </body>
</html>
